.page{
    height: 100vh;
    position: relative;
}
.page .shadow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.page::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(18px); /*brightness(0.4)*/
}
section.pointer{
    position: absolute;
    top: 0;
    left: 183px;
    width: 110px;
    height: 157px;
    background: url('http://owzgsczvw.bkt.clouddn.com/needle.png') no-repeat center;
    background-size: cover;
    z-index: 5;
}
section.disk{
    padding-top: 80px;
}
section.disk .vinyl{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 342px;
    height: 342px;
    margin: 0 auto;
}
section.disk .vinyl::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('http://owzgsczvw.bkt.clouddn.com/heiquan.png') no-repeat center;
    background-size: cover;
}
section.disk .vinyl::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('http://owzgsczvw.bkt.clouddn.com/touming.png') no-repeat center;
    background-size: cover;
}
section.disk .vinyl > img{
    width: 212px;
    height: 212px;
    border-radius: 50%;
}
section.disk .vinyl.playing::after,
section.disk .vinyl.playing > img{
    animation: spin 15s linear infinite;
}
section.disk .vinyl.playing.pause::after,
section.disk .vinyl.playing.pause > img{
    animation-play-state: paused;
}
@keyframes spin {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
section.disk .vinyl .play-btn{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65px;
    height: 65px;
    z-index: 5;
    background: url('http://owzgsczvw.bkt.clouddn.com/play_btn.png') no-repeat center;
    background-size: cover;
}
section.disk .vinyl .play-btn.active{
    display: block;
}
section.lyricbox{
    margin: 25px;
    padding: 0 35px;
}
section.lyricbox > h2{
    font-size: 18px;
    color: #fefefe;
    line-height: 1.1;
    text-align: center;
}
section.lyricbox > h2 >span{
    margin: 0 -5px;
}
section.lyricbox .gang{
    margin: 0 4px;
}
section.lyricbox .singer{
    font-size: 16px;
    color: hsla(0,0%,100%,.6);
}
section.lyricbox .lyric-wrapper{
    position: relative;
    height: 88px;
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
}
section.lyricbox .lyric{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
section.lyricbox .lyric >p{
    text-align: center;
    line-height: 1.5;
    color: hsla(0,0%,100%,.6);
    padding-bottom: 7px;
}
section.action{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}
section.action .footer{
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
section.action .footer a{
    width: 154px;
    height: 47px;
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    vertical-align: top;
    border-radius: 4px;
}
section.action .footer .open{
    border: 1px solid red;
    color: #C62F2F;
}
section.action .footer .down{
    color: #fff;
    background: #C62F2F;
}
@media(max-width: 375px){
    section.disk{
        padding-top: 70px;
    }
    section.disk .vinyl{
        width: 296px;
        height: 296px;
    }
    section.disk .vinyl > img{
        width: 184px;
        height: 184px;
    }
    section.pointer {
        left: 168px;
        width: 96px;
        height: 137px;
    }
    section.action .footer a{
        width: 132px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
    section.action .footer{
        width: 292px;
    }
}
@media(max-width: 320px){
    section.disk{
        padding-top: 63px;
    }
    section.disk .vinyl{
        width: 248px;
        height: 248px;
    }
    section.disk .vinyl > img{
        width: 150px;
        height: 150px;
    }
    section.pointer {
        left: 143px;
        width: 84px;
        height: 122px;
    }
    section.action .footer a{
        width: 111px;
        height: 34px;
        font-size: 15px;
        line-height: 34px;
    }
    section.action .footer{
        width: 250px;
    }
}