/*
* @Author: Juff
* @Date:   2017-08-25 15:45:08
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-29 17:46:17
*/
*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ol, ul ,li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
body{font-family: Helvetica, sans-serif;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}